<div class="app-page">
  <div class="app-page__header">
    <h1>Please enter zip-code</h1>
  </div>
  <div class="app-page__content">
    <div class="wrapper">
      <app-spinner *ngIf="showSpinner"></app-spinner>

      <form
        [formGroup]="form"
        novalidate
        autocomplete="off"
        (ngSubmit)="onSubmit()"
      >
        <app-form-field
          [control]="form.controls.code"
          [patternError]="regexErrors.numbers"
        >
          <div class="search-field">
            <app-input formControlName="code"></app-input>
            <app-button type="submit">Add Location</app-button>
          </div>
        </app-form-field>
      </form>
    </div>
  </div>
</div>


<div class="app-page" *ngFor="let item of testArr2">
  <div class="app-page__content">
    <div class="wrapper" >
      {{item.name}}
    </div>
</div>
</div>